.navbar-brand {
  color: #faf6eb !important;
}

.nav-link {
  color: #faf6eb !important;
  font-weight: bold;
}

.nav-link:hover {
  color: #f76b25 !important;
}

.marginRight {
  padding-right: 150px;
}

.marginLeft {
  padding-left: 150px;
}

.custom-toggler.navbar-toggler {
  border-color: #faf6eb;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(250, 246, 235, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
