.bg-footer {
    background-color: black;
    color: white;
    font-size: 15px;
    padding-top: 10px;
}

.footer {
    color: white!important;
    text-decoration: none;
    font-style: italic;
}

.footer:hover {
    color: gray!important;
}